*{
    margin: 0;
    padding: 0;
}
header {
    color: #000000;
    background-size: 40%;
    background-color: rgb(247, 224, 224);
    background-position:left top;
   }
   body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://krot.info/uploads/posts/2020-01/1579540358_19-44.jpg");
    background-attachment: fixed;
}
header{
    width: 100%;
    height: 65px;
    background-image: url("https://funart.pro/uploads/posts/2020-04/1585770601_50-p-zablyurennie-foni-114.jpg");
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-size: 2500px;
}
.logotip{
    width: 960px;
    margin: auto;
}
.photo{
    height: 60px;
    float: left;
    border-radius: 100px;
    border: 1px solid rgb(59, 173, 164);
}
.nomer{
    margin-top: 15px;
    float: left;
}
h2{
    text-align: center;
}
.navigacia{
    width: 960px;
    margin: auto;
    margin-top: 10px;
    background-color: rgba(195, 216, 211, 0.685);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.navigacia :last-child{
    margin-bottom: 10px;
}
nav{
    height: 35px;
}
nav>a{
    float: left;
    width: 33%;
    margin-top: 10px;
    text-align: center;
    font-size: large;
    color: rgb(14, 48, 240);
}
a{
    text-decoration: none;
}
a:hover{
    color:rgb(2, 54, 61);
}
#ssilki{
    list-style-position: inside;
}
table{
    border: 2px double black;
    
}
th{
    border: 1px solid black;
}
tr:nth-child(odd){
     background-color: rgba(68, 187, 235, 0.692); 
}
tr:nth-child(even){
    background-color: #d0f11298; 
}
footer{
    width: 100%;
    height: 60px;
    background-image: url("https://funart.pro/uploads/posts/2020-04/1585770601_50-p-zablyurennie-foni-114.jpg");
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-size: 2500px;
}
footer p{
    color: white;
    padding-top: 15px;
}

